# --- Мусор сборки (НЕ КОММИТИТЬ) ---
*.o
*.a
*.so
*.dylib
*.dll
*.exe
*.qm

# Папки сборки
build/
dist/

# Сгенерированные файлы Qt
ui_*.h
moc_*.cpp
qrc_*.cpp
Makefile
!src/makefile.hexlan_static  # А вот наш самописный мейкфайл - ОСТАВИТЬ!

# Исполняемые файлы (результат)
Hexlan-qt
Hexlan-qt*
src/hexland

# Системный мусор
.DS_Store
Thumbs.db

# Временные файлы редакторов
*.user
*.swp

*.zip

servers\.txt

Hexlan3.pro.user
auto_push.sh
